<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="graphic-card-module">
  <template>
    <style>
      :host {display: block;}
      .not-load {border:1px solid lightsalmon;padding: 5px;}
      .not-load p {font-size: 13pt;color: lightsalmon;padding: 5px;}
      .ok-load {border:1px solid #007bff;padding: 5px;}
      .ok-load p {font-size: 13pt;color: #007bff;padding: 5px;}
      hr {border:0.3px solid #ddd;}
    </style>
    <template is="dom-if" if="[[isOkGraphicCard]]">
      <div class="ok-load">
        <p>[[msg]]</p>
        <hr>
        <p>[[getInfoGraphicCard]]</p>
      </div>
    </template>
    <template is="dom-if" if="[[!isOkGraphicCard]]">
      <div class="not-load">
        <p>[[msg]]</p>
        <hr>
        <p>[[getInfoGraphicCard]]</p>
      </div>
    </template>
  </template>

  <script>
    /**
     * `graphic-card-module`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class GraphicCardModule extends Polymer.Element {
      
      static get is() { return 'graphic-card-module'; }

      static get properties() {
        return {
          name: {
            observer: '_isName',
            type: String,
            value: 'nvidia-gft-mx-1500'
          },
          isOkGraphicCard: {
            type: Boolean,
            notify: true  
          },
          msg: {
            type: String,
            value: `No se pudo cargar la tarjeta gráfica, verifique!`
          },
          getInfoGraphicCard: {
            type: String,
            computed: '_getInfoGraphicCard(name)'
          }
        };
      }

      setDefaultValues() {
        this.name = 'nvidia-gft-mx-1500';
      }

      _isName(newValue, oldValue) {
        if (!newValue) {
          this.setDefaultValues();
        }
        this.isOkGraphicCard = true;
        this.msg = `Tarjeta Gráfica cargada con éxito!`;
      }

      _getInfoGraphicCard(name) {
        return name !== undefined ? `Seleccionaste la tarjeta gráfica ${name}`
        : `Se desconocen los datos para la tarjeta gráfica, verifique!`;
      }
    }
    window.customElements.define(GraphicCardModule.is, GraphicCardModule);
  </script>
</dom-module>
